/* #0b1321 navy
   #283252 dark light blue
   #141827 dark blue
   #191f31 dark light blue 2
   #81eb57 greenlight
   #f2b75e orangelight
   #070912 shadow-image
   #rgb(77, 69, 146) shadow light blue
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,*::before,*::after{
    margin: 0;
    box-sizing: border-box;
}
body {
    display: inherit;
    font-family: 'Poppins', sans-serif;
    background-color: #0b1321;
    color: white;
    overflow-x: hidden;
}
img.img-intro {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    filter: opacity(0.5);
    width: 100%;
    height: 100%;
}
header {
    padding: 20px;
}
nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 52px;
}
nav ul li {
    cursor: pointer;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li:hover a {
    color: #5793d8;
}
.dropmenu {
    position: relative;
    display: inline-block;
}
.dropmenu-list {
    transition: 1s;
    position: absolute;
    display: none;
    z-index: 1;
    overflow: hidden;
}
.dropmenu:hover .dropmenu-list {
    transition: 1s;
    display: block;
}
.dropmenu-list a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background: #283252;
    color: white;
}
.dropmenu-list a:hover {
    transition: 0.5s;
    color: rgb(98, 148, 255);
    background: #1d243a;
}
section#intro-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    line-height: 50px;
    text-align: center;
}
section span {
    max-width: 500px;
    font-size: 32px;
    font-family: 'Poppins', san-serif;
    padding: 32px 0;
}
section span strong {
    color: #eeff54;
}
section span #green {
    color: rgb(48, 236, 48);
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
section p {
    font-family: 'Poppins', san-serif;
    font-size: 18px;
    padding-top: 50px;
    text-align: center;
    max-width: 900px;
}
section article {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
}
section article aside {
    position: relative;
    height: 200px;
    width: 300px;
    border: 2px solid #191f31;
    border-radius: 5px;
    background: #141827;
}
section article aside .inside {
    display: grid;
    padding: 10px;
    margin: auto;
}
section article aside .inside p {
    font-size: 14px;
}
section article aside:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 24px 1px rgb(77, 69, 146);
    border: 3px solid #191f31;
}
.group-input {
    display: flex;
}
.group-input input {
    background: #283252;
    width: 200px;
    height: 50px;
    color: white;
}
.group-input input:focus {
    outline: none;
}
.group-input input[type="text"] {
    font-family: 'Poppins', sans-serif;
    border: none;
    padding-left: 8px;
    text-transform: capitalize;
}
.group-input button {
    cursor: pointer;
    border:none;
    width: 50px;
    height: 50px;
    background: #f2b75e;
}
.group-input button:hover {
    background: #d18e29;
}
section .list-content {
    display: flex;
    gap: 52px;
}
section .list-content .slider img {
    object-fit: cover;
    height: 350px;
    border-radius: 5px;
}
section .list-content ,.slider img:hover  {
    opacity: 0.5;
}
section div.box-category {
    display: flex;
    gap: 0 82px;
}
section aside.category {
    border: 3px solid #283252;
}
section aside.category .grids {
    display: grid;
    place-items: center;
    height: 80%;
}

section .box-category ul {
    display: flex;
    line-height: 0;
    max-width: 850px;
    max-height: 300px;
    flex-wrap: wrap;
}
section ul img {
    height: 300px;
    width: 200px;
    object-fit: cover;
}
section ul img:hover {
    opacity: 0.6;
}
section aside.category .grids {
    display: grid;
    margin: auto;
}
section div.box-category aside.category {
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: center;
    width: 250px;
    height: 600px;
    border-radius: 16px;
    margin: auto;
}
section div.box-category aside.category input.searching {
    color: white;
    width: 200px;
    height: 30px;
    border: none;
    border: 3px solid #03091d;
    background-color: #1b274e;
    border-radius: 8px;
}
section aside.category .grids select, option{
    width: 200px;
    height: 30px;
    border: none;
    background: #0c2368;
    color: white;
    border-radius: 4px;
}
section aside.category .grids select option {
    background:#1d243a;
}
.Poppin {
    font-family: 'Poppins', sans-serif;
}
section aside.category .grids.left {
    justify-items: left;
}
footer {
    padding: 20px;
    text-align: center;
}
footer p {
    font-family: 'Poppins', san-serif;
    opacity: 0.6;
}
footer p::after {
    content: "";
}
.slider.Anim {
    animation: slider_anim 12s infinite;
}
@keyframes slider_anim {
    0%,100% {
        transform: translateX(-60vh);
    }
    25%,75% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(60vh);
    }
}
@media screen and (max-width: 768px) {
    body {
        display: block;
    }
    section p {
        padding: 12px 0;
        font-size: 12px;
    }
    section span {
        font-size: 18px;
    }
    section div {
        display: block;
    }
    #id, section article aside{
        display: none;
    }
    section div.box-category {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 32px;
    }
    section div.box-category aside.category {
        margin-top: 90px;
        order: 1;
    }
    footer {
        order: 1;
    }
}